{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% set isAuthenticated = app.user is not null %}
    {% set loginProps = {
        title: 'Connexion',
        subtitle: 'Reprenez vos explorations au coeur des offres AliExprass.',
        action: path('app_login'),
        csrfToken: csrf_token('authenticate'),
        lastUsername: last_username,
        errorMessage: error ? error.messageKey|trans(error.messageData, 'security') : '',
        isAuthenticated: isAuthenticated,
        username: isAuthenticated ? (app.user.userIdentifier ?? app.user.username) : '',
        forgotPasswordUrl: path('app_forgot_password_request'),
        registerUrl: path('app_register'),
        logoutUrl: path('app_logout')
    } %}

    <div id="react-login-root" data-props="{{ loginProps|json_encode(constant('JSON_UNESCAPED_UNICODE'))|e('html_attr') }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('build/assets/login.js') }}"></script>
{% endblock %}
