{% extends 'base.html.twig' %}

{% block title %}Creer un compte{% endblock %}

{% block body %}
    {% set usernameErrors = registrationForm.username.vars.errors|map(error => error.message) %}
    {% set firstnameErrors = registrationForm.firstname.vars.errors|map(error => error.message) %}
    {% set lastnameErrors = registrationForm.lastname.vars.errors|map(error => error.message) %}
    {% set emailErrors = registrationForm.email.vars.errors|map(error => error.message) %}
    {% set passwordFirstErrors = registrationForm.plainPassword.first.vars.errors|map(error => error.message) %}
    {% set passwordSecondErrors = registrationForm.plainPassword.second.vars.errors|map(error => error.message) %}
    {% set passwordGroupErrors = registrationForm.plainPassword.vars.errors|map(error => error.message) %}
    {% set termsErrors = registrationForm.agreeTerms.vars.errors|map(error => error.message) %}
    {% set formErrors = registrationForm.vars.errors|map(error => error.message)|merge(passwordGroupErrors) %}

    {% set csrfFieldName = registrationForm._token.vars.full_name|default('_token') %}
    {% set csrfTokenValue = csrf_token(registrationForm.vars.csrf_token_id|default('registration_form')) %}

    {% set fields = [
        {
            key: 'username',
            id: registrationForm.username.vars.id,
            name: registrationForm.username.vars.full_name,
            type: 'text',
            label: registrationForm.username.vars.label,
            value: registrationForm.username.vars.value,
            required: registrationForm.username.vars.required,
            errors: usernameErrors
        },
        {
            key: 'firstname',
            id: registrationForm.firstname.vars.id,
            name: registrationForm.firstname.vars.full_name,
            type: 'text',
            label: registrationForm.firstname.vars.label,
            value: registrationForm.firstname.vars.value,
            required: registrationForm.firstname.vars.required,
            errors: firstnameErrors,
            group: 'name'
        },
        {
            key: 'lastname',
            id: registrationForm.lastname.vars.id,
            name: registrationForm.lastname.vars.full_name,
            type: 'text',
            label: registrationForm.lastname.vars.label,
            value: registrationForm.lastname.vars.value,
            required: registrationForm.lastname.vars.required,
            errors: lastnameErrors,
            group: 'name'
        },
        {
            key: 'email',
            id: registrationForm.email.vars.id,
            name: registrationForm.email.vars.full_name,
            type: 'email',
            label: registrationForm.email.vars.label,
            value: registrationForm.email.vars.value,
            required: registrationForm.email.vars.required,
            errors: emailErrors
        },
        {
            key: 'plainPassword_first',
            id: registrationForm.plainPassword.first.vars.id,
            name: registrationForm.plainPassword.first.vars.full_name,
            type: 'password',
            label: registrationForm.plainPassword.first.vars.label,
            required: registrationForm.plainPassword.first.vars.required,
            errors: passwordFirstErrors,
            group: 'password',
            attributes: registrationForm.plainPassword.first.vars.attr|default({})
        },
        {
            key: 'plainPassword_second',
            id: registrationForm.plainPassword.second.vars.id,
            name: registrationForm.plainPassword.second.vars.full_name,
            type: 'password',
            label: registrationForm.plainPassword.second.vars.label,
            required: registrationForm.plainPassword.second.vars.required,
            errors: passwordSecondErrors,
            group: 'password',
            attributes: registrationForm.plainPassword.second.vars.attr|default({})
        },
        {
            key: 'agreeTerms',
            id: registrationForm.agreeTerms.vars.id,
            name: registrationForm.agreeTerms.vars.full_name,
            type: 'checkbox',
            label: registrationForm.agreeTerms.vars.label,
            required: registrationForm.agreeTerms.vars.required,
            checked: registrationForm.agreeTerms.vars.data,
            errors: termsErrors
        }
    ] %}

    {% set registerProps = {
        title: 'Creer un compte',
        subtitle: 'Profitez de lexperience AliExprass en accedant a un espace 100% personnalise.',
        action: path('app_register'),
        method: registrationForm.vars.method|default('post'),
        csrfToken: csrfTokenValue,
        csrfFieldName: csrfFieldName,
        fields: fields,
        errors: formErrors,
        flashes: app.flashes('verify_email_error'),
        termsUrl: path('cgu_conditions'),
        loginUrl: path('app_login')
    } %}

    <div id="react-register-root" data-props="{{ registerProps|json_encode(constant('JSON_UNESCAPED_UNICODE'))|e('html_attr') }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('build/assets/register.js') }}"></script>
{% endblock %}


