{% extends 'base.html.twig' %}

{% block title %}Hello WishlistController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/lo4k/Desktop/Projet/E-commece_Symfony/src/Controller/WishlistController.php'|file_link(0) }}">src/Controller/WishlistController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/lo4k/Desktop/Projet/E-commece_Symfony/templates/wishlist/index.html.twig'|file_link(0) }}">templates/wishlist/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
