<div
    data-react-header-search="true"
    data-endpoint="{{ endpoint|e('html_attr') }}"
    data-placeholder="{{ placeholder|e('html_attr') }}"
    data-action="{{ path('product_search')|e('html_attr') }}"
    data-input-name="q"
></div>
